*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*heading1*/

.nav-bar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(logo2.jpg);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2p solid white;
}

/*heading2*/
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    font-size: 0.85rem;
    color: #CCCCCC;
    margin-left:15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

/*heading3*/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    background-color:#febd68 ;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
.nav-search:hover{
    border: 2px solid orange;
}

/*heading4*/

span{
    font-size: 0.7rem;
}

.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/*heading5*/

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/*panel*/

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all i{
    font-weight: 700px;
}
.panel-ops{
    display: flex;
    width: 90%;
    justify-content: space-evenly;  
}
.panel-ops p{
    margin: 8px;
    font-size: 14px;
}

/*content*/

.content{
    background-image:url(content.jpg);
    background-size: cover;
    height: 300px;
}

/*shop section*/
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin-bottom: 15px;
}
.box{
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    background-size: cover;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/*back to top*/

.back-to-top{
    height: 50px;
    background-color:#37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 0.95rem;
}

/*about panel*/

.about-sec{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 40px;
}
ul p{
    font-weight: 700;
    font-size: 1rem;
}
ul a{
    display: block;
    margin: 5px;
    color: #DDDDDD;
    font-size: 0.9rem;
}

/*last panel*/
.last-panel{
    color: white;
    background-color: #0F1111;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}

/* =====================================================
   RESPONSIVE MEDIA QUERIES
   ===================================================== */

/* Large Tablets */
@media (max-width: 1024px) {
    .nav-search {
        width: 50%;
    }
    .box {
        width: 45%;   /* 2 per row */
        height: auto;
    }
    .about-sec {
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
}

/* Tablets & Mobiles */
@media (max-width: 768px) {

    .nav-bar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .nav-search {
        width: 100%;
        order: 3;
    }

    .panel {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .panel-ops {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .content {
        height: 200px;
        background-position: center;
    }

    .box {
        width: 45%;  /* 2 per row */
    }

    .box-img {
        height: 150px;
    }

    .about-sec {
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }

    ul {
        margin-top: 20px;
    }
}

/* Small Phones */
@media (max-width: 480px) {

    .nav-bar {
        flex-direction: column;
        gap: 12px;
        padding: 10px;
    }

    .nav-search {
        width: 100%;
        height: 38px;
    }

    .search-select,
    .search-icon {
        width: 40px;
    }

    .box {
        width: 90%;   /* Single column */
        height: auto;
    }

    .box-img {
        height: 130px;
    }

    .content {
        height: 150px;
    }

    .about-sec {
        height: auto;
    }
}
